.Separator {
  display: flex;
  align-items: center;
  color: #fefefe;
  text-transform: uppercase;
}

.Separator .hr {
  width: 100%;
  border-bottom: 2px solid #fefefe;
}

.Separator h2 {
  white-space: nowrap;
  padding: 0 10px;
}
